@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 125%;
	position: relative;
}

body {
	font-size: 0.8rem;
}

#load_background {
	width: 100%;
	height: 100%;
	background-image: url(../img/ahead_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 4000;
	animation: load_background 2s forwards;
	-moz-animation: load_background 2s forwards;
	-webkit-animation: load_background 2s forwards;
	-o-animation: load_background 2s forwards;
}

#div_id_shadow {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}


/*侧栏*/

#div_id_slide {
	position: absolute;
	z-index: 10000;
	height: 100%;
	width: 21.14%;
	background-color: #FFFFFF;
	right: -21.97%;
	transition: right 0.6s cubic-bezier(.35, .01, .59, .1);
	-moz-transition: right 0.6s cubic-bezier(.35, .01, .59, .1);
	-webkit-transition: right 0.6s cubic-bezier(.35, .01, .59, .1);
	-o-transition: right 0.6s cubic-bezier(.35, .01, .59, .1);
}

@media only screen and (max-width: 992px) {
	#div_id_slide {
		width: 100%;
		right: -100%;
	}
}

#div_id_slide .slide_head {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 7.133rem;
}

#div_id_slide .slide_head .slide_close {
	width: 100%;
	line-height: 2.25rem;
	display: flex;
	justify-content: flex-end;
}

#div_id_slide .slide_head .slide_close a {
	background-image: url(../img/close1.png);
	height: 2.25rem;
	width: 2.5rem;
	background-repeat: no-repeat;
}

.slide_head_img_class {
	animation: slide_head_img 0.6s ease-out forwards;
	-moz-animation: slide_head_img 0.6s ease-out forwards;
	-webkit-animation: slide_head_img 0.6s ease-out forwards;
	-o-animation: slide_head_img 0.6s ease-out forwards;
}

#div_id_slide .slide_body {
	width: 100%;
	height: 18rem;
}

#div_id_slide .slide_body ul {
	list-style-type: none;
}

#div_id_slide .slide_body a {
	text-decoration: none;
	color: #000000;
	font-size: 0.9rem;
	font-weight: bold;
	display: block;
	margin-left: 1.5rem;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

#div_id_slide .slide_body a:hover {
	color: red;
	background-color: #F2F2F2;
}

#div_id_slide .slide_body li {
	line-height: 2.95rem;
	border-bottom: 1px solid #CCCCCC;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

#div_id_slide .slide_body li:hover {
	color: red;
	background-color: #F2F2F2;
}

.ul_one {
	opacity: 0;
	animation: slide_menu 0.6s 0s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0s ease-out forwards;
	-o-animation: slide_menu 0.6s 0s ease-out forwards;
}

.ul_two {
	opacity: 0;
	animation: slide_menu 0.6s 0.08s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.08s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.08s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.08s ease-out forwards;
}

.ul_three {
	opacity: 0;
	animation: slide_menu 0.6s 0.16s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.16s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.16s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.16s ease-out forwards;
}

.ul_four {
	opacity: 0;
	animation: slide_menu 0.6s 0.24s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.24s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.24s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.24s ease-out forwards;
}

.ul_five {
	opacity: 0;
	animation: slide_menu 0.6s 0.32s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.32s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.32s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.32s ease-out forwards;
}

.ul_six {
	opacity: 0;
	animation: slide_menu 0.6s 0.4s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.4s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.4s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.4s ease-out forwards;
}

#div_id_slide .slide_footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 85%;
	height: 11.65rem;
	padding: 1.5rem;
}

#div_id_slide .slide_footer img {
	width: 8rem;
	height: 8rem;
}

#div_id_slide .slide_footer a {
	font-size: 1rem;
	text-decoration: none;
	color: #333333;
}

#div_id_slide .slide_footer hr {
	width: 85%;
	border: 0px;
	height: 1px;
	background-color: #AAAAAA;
}

#div_id_slide .slide_footer span {
	font-size: 0.5rem;
}


/*头部*/

.div_class_header {
	height: 3.7rem;
	font-size: ;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 1230;
	/*fullpage是绝对定位 所以这里需要设置一个比fullpage优先级高的*/
	text-align: end;
	border-bottom: 1px solid #F2F2F2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.div_class_header_replace {
	background-color: #FFFFFF;
}

.ul_menu {
	width: 92%;
	list-style-type: none;
	line-height: 3.7rem;
	background-image: url(../img/head_logo1.png);
	background-repeat: no-repeat;
	background-position: 2.3%;
}

.ul_menu_replace {
	background-image: url(../img/head_logo.png);
}

.ul_menu li {
	height: 3.55rem;
	display: inline-flex;
	padding: 0 1.25rem 0 1.25rem;
}

.ul_menu div {
	display: inline-flex;
	flex-direction: column;
}

hr[class^="title"] {
	background-color: red;
	border: 0px;
	height: 0.15rem;
	width: 0px;
	transition: width 0.8s;
	-moz-transition: width 0.8s;
	-webkit-transition: width 0.8s;
	-o-transition: width 0.8s;
}

.li_a {
	height: 3.55rem;
	color: #F2F2F2;
	text-decoration: none;
}

.li_a_replace {
	color: #000000;
}

.div_sidebar {
	width: 1.25rem;
	height: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	margin-right: 3.6%;
}

.div_hr {
	background-color: #FFFFFF;
	border: 0px;
	height: 1px;
}

.hr_replace {
	background-color: #000000;
}


/*首页*/

.div_class_homePage {
	position: relative;
}

.div_class_homePage .fp-tableCell {
	display: block;
}

.div_class_homePage img {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	z-index: 1;
}

.div_class_homePage .homepage_left {
	height: 100%;
	width: 3.4944rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
}

.div_class_homePage .homepage_left a {
	width: 100%;
	height: 3.4816rem;
	background-image: url(../img/homepage_left.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.div_class_homePage .homepage_right {
	height: 100%;
	width: 3.4944rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 3;
	right: 0;
	top: 0;
}

.div_class_homePage .homepage_right a {
	width: 100%;
	height: 3.4816rem;
	background-image: url(../img/home_page_right.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.div_class_homePage .homepage_bottom {
	width: 100%;
	height: 4.5rem;
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.div_class_homePage .homepage_bottom .first {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
}

.div_class_homePage .homepage_bottom .first a {
	width: 1.25rem;
	height: 2.25rem;
	background-image: url(../img/homepage_bottom1.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: home_bottom 1s linear infinite alternate;
	-moz-animation: home_bottom 1s linear infinite alternate;
	-webkit-animation: home_bottom 1s linear infinite alternate;
	-o-animation: home_bottom 1s linear infinite alternate;
}

.div_class_homePage .homepage_bottom .second {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}

.div_class_homePage .homepage_bottom .second a {
	width: 0.8rem;
	height: 0.3rem;
	background-image: url(../img/homepage_bottom2.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: home_bottom_hidden 1s linear infinite alternate;
	-moz-animation: home_bottom_hidden 1s linear infinite alternate;
	-webkit-animation: home_bottom_hidden 1s linear infinite alternate;
	-o-animation: home_bottom_hidden 1s linear infinite alternate;
}

.div_class_homePage .homepage_bottom .third {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}

.div_class_homePage .homepage_bottom .third a {
	width: 1rem;
	height: 0.5rem;
	background-image: url(../img/homepage_bottom3.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: home_bottom_hidden 1s linear 1s infinite alternate;
	-moz-animation: home_bottom_hidden 1s linear 1s infinite alternate;
	-webkit-animation: home_bottom_hidden 1s linear 1s infinite alternate;
	-o-animation: home_bottom_hidden 1s linear 1s infinite alternate;
}

.div_class_homePage .homepage_bottom a {}

.div_class_homePage .lun_bo_container {
	top: 0rem;
	left: 0rem;
	width: 500%;
	height: 100%;
	z-index: 2;
	display: flex;
	overflow: hidden;
}

.div_class_homePage .lun_bo_container .lun_bo_first {
	width: 20%;
	height: 100%;
	background-image: url(../img/home_page1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_class_homePage .lun_bo_container .index_first {
	width: 20%;
	height: 100%;
	background-image: url(../img/home_page3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_class_homePage .lun_bo_container .lun_bo_second {
	width: 20%;
	height: 100%;
	background-image: url(../img/home_page2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_class_homePage .lun_bo_container .lun_bo_thrid {
	width: 20%;
	height: 100%;
	background-image: url(../img/home_page3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_class_homePage .lun_bo_container .contain {
	width: 87.3%;
	height: 34.56%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	color: #FFFFFF;
}

.div_class_homePage .lun_bo_container .contain h3 {
	width: 100%;
	height: 3rem;
	font-size: 2rem;
	opacity: 0;
}

.contain_h3_ani {
	animation: home_ani 0.6s ease-out 0.15s forwards;
	-moz-animation: home_ani 0.6s ease-out 0.15s forwards;
	-webkit-animation: home_ani 0.6s ease-out 0.15s forwards;
	-o-animation: home_ani 0.6s ease-out 0.15s forwards;
}

.div_class_homePage .lun_bo_container .contain h4 {
	width: 100%;
	height: 1.788rem;
	margin: 1rem 0rem;
	font-size: 1rem;
	opacity: 0;
}

.contain_h4_ani {
	animation: home_ani 0.6s ease-out 0.3s forwards;
	-moz-animation: home_ani 0.6s ease-out 0.3s forwards;
	-webkit-animation: home_ani 0.6s ease-out 0.3s forwards;
	-o-animation: home_ani 0.6s ease-out 0.3s forwards;
}

.div_class_homePage .lun_bo_container .contain hr {
	height: 0.15rem;
	width: 5rem;
	border: 0rem;
	background-color: red;
	opacity: 0;
}

.contain_hr_ani {
	animation: home_ani 0.6s ease-out 0.45s forwards;
	-moz-animation: home_ani 0.6s ease-out 0.45s forwards;
	-webkit-animation: home_ani 0.6s ease-out 0.45s forwards;
	-o-animation: home_ani 0.6s ease-out 0.45s forwards;
}

.div_class_homePage .lun_bo_container .contain p {
	width: 100%;
	height: 1.788rem;
	margin: 1rem 0rem;
	opacity: 0;
}

.contain_p_ani {
	animation: home_ani 0.6s ease-out 0.6s forwards;
	-moz-animation: home_ani 0.6s ease-out 0.6s forwards;
	-webkit-animation: home_ani 0.6s ease-out 0.6s forwards;
	-o-animation: home_ani 0.6s ease-out 0.6s forwards;
}

.div_class_homePage .lun_bo_container .contain .more {
	width: 7.9rem;
	height: 2rem;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
	position: absolute;
	z-index: 20;
	bottom: 1rem;
	opacity: 0;
}

.contain_more_ani {
	animation: home_ani 0.6s ease-out 0.75s forwards;
	-moz-animation: home_ani 0.6s ease-out 0.75s forwards;
	-webkit-animation: home_ani 0.6s ease-out 0.75s forwards;
	-o-animation: home_ani 0.6s ease-out 0.75s forwards;
}

.div_class_homePage .lun_bo_container .contain span {
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-moz-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-webkit-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-o-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	cursor: pointer;
}


/*简介*/

.fp-tableCell {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

@media only screen and (max-width:992px) {
	.fp-tableCell {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}
}

.div_class_intro {
	position: relative;
}

.div_class_intro img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
}

.div_class_intro .div_left {
	width: 50%;
	height: 100%;
	background-image: url(../img/1504249802.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 2;
	left: 0;
}

.div_class_intro .div_right {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	right: 0;
}

@media only screen and (max-width:992px) {
	.div_class_intro .div_left {
		width: 100%;
		height: 50%;
		top: =0;
	}
	.div_class_intro .div_right {
		width: 100%;
		height: 50%;
		bottom: 0;
	}
}

.div_class_intro .div_center {
	width: 87.5%;
	height: 26.4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.div_class_intro .div_center span {
	color: #7D7D7D;
	font-size: 1.2rem;
	color: #282828;
}

.div_class_intro .span_head_replace {
	animation: intro_one 2s;
	-moz-animation: intro_one 2s;
	-webkit-animation: intro_one 2s;
	-o-animation: intro_one 2s;
}

.div_class_intro .div_center hr {
	width: 4rem;
	border: 0px;
	height: 1px;
	background-color: #000000;
	margin-bottom: 1rem;
}

.div_class_intro .center_hr_replace {
	animation: intro_one 2s;
	-moz-animation: intro_one 2s;
	-webkit-animation: intro_one 2s;
	-o-animation: intro_one 2s;
}

.div_class_intro .div_center .div_first {
	color: #7d7d7d;
	font-size: 0.7rem;
	line-height: 1.5rem;
	opacity: 0;
	animation-fill-mode: forwards;
}

.div_class_intro .div_first_replace {
	animation: intro_one 1s 1s;
	-moz-animation: intro_one 1s 1s;
	-webkit-animation: intro_one 1s 1s;
	-o-animation: intro_one 1s 1s;
}

.div_class_intro .div_center .div_second {
	width: 7.9rem;
	height: 2rem;
	border: 1px solid #000000;
	padding: 0px;
	background-color: #FFFFFF;
	line-height: 2rem;
	text-align: center;
	overflow: hidden;
	transition: border-width 0.6s;
	-moz-transition: border-width 0.6s;
	-webkit-transition: border-width 0.6s;
	-o-transition: border-width 0.6s;
}

.div_class_intro .div_second_replace {
	animation: intro_one 2s;
	-moz-animation: intro_one 2s;
	-webkit-animation: intro_one 2s;
	-o-animation: intro_one 2s;
}

.div_class_intro .div_center .div_second span {
	display: block;
	font-size: 0.8rem;
	transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-moz-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-webkit-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-o-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
}

.div_class_intro .div_center .div_second .second_span {
	color: #FFFFFF;
	background-color: red;
}

.div_class_intro .div_center .div_second:hover {
	border: 0px;
}


/*服务*/

.div_class_service .fp-tableCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*底部*/

.div_class_service {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #FFFFFF;
}

.div_class_service img {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	transition: src 1s;
	-moz-transition: src 1s;
	-webkit-transition: src 1s;
	-o-transition: src 1s;
}

.img_place_hidden {
	animation: img_place_hidden 1.5s linear;
	-moz-animation: img_place_hidden 1.5s linear;
	-webkit-animation: img_place_hidden 1.5s linear;
	-o-animation: img_place_hidden 1.5s linear;
}

@media only screen and (max-width:992px) {
	.div_class_service .bottom_background {
		display: none;
	}
	.div_class_service .absolute1 {
		display: none;
	}
}

.div_class_service .bottom_background {
	width: 42%;
	height: 39.2%;
	background-color: #000000;
	position: absolute;
	z-index: 2;
	opacity: 0.4;
	transform: translate(100%, 100%);
	-ms-transform: translate(100%, 100%);
	-webkit-transform: translate(100%, 100%);
	-o-transform: translate(100%, 100%);
	-moz-transform: translate(100%, 100%);
	opacity: 0;
}

.bottom_background_ani {
	animation: bottom_background_ani 0.3s linear 0.6s forwards;
	-moz-animation: bottom_background_ani 0.3s linear 0.6s forwards;
	-webkit-animation: bottom_background_ani 0.3s linear 0.6s forwards;
	-o-animation: bottom_background_ani 0.3s linear 0.6s forwards;
}


/*第二层*/

.div_class_service .absolute1 {
	width: 31.25%;
	height: 45%;
	position: absolute;
	z-index: 3;
	border: 1px dashed #FFFFFF;
	transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
}

.absolute1_ani {
	animation: absolute1_box 0.4s linear 0.9s forwards;
	-moz-animation: absolute1_box 0.4s linear 0.9s forwards;
	-webkit-animation: absolute1_box 0.4s linear 0.9s forwards;
	-o-animation: absolute1_box 0.4s linear 0.9s forwards;
}


/*第三层*/

.div_class_service .absolute2 {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 39.2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: #009922;*/
}

.div_class_service .absolute2 .absolute2_top {
	width: 100%;
	height: 22.4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: red;*/
	text-align: center;
}

.div_class_service .absolute2 .absolute2_top .absolute2_top_bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
}

.div_class_service .absolute2 .absolute2_top .absolute2_top_bottom hr {
	margin: 0rem 0.5rem;
	border: 0rem;
	height: 0.05rem;
	width: 2.5rem;
	background-color: #FFFFFF;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.div_class_service .absolute2 .absolute2_center {
	width: 400%;
	height: 50%;
	/*background-color: #000000;*/
}

.div_class_service .absolute2 .absolute2_center .service {
	width: 8.35%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.div_class_service .absolute2 .absolute2_center .service span {
	width: 50%;
	height: 100%;
	opacity: 0;
	overflow: visible;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.service_addclass {
	transform: translateY(-3rem);
	-ms-transform: translateY(-3rem);
	-webkit-transform: translateY(-3rem);
	-o-transform: translateY(-3rem);
	-moz-transform: translateY(-3rem);
}

.span_addclass {
	width: 80% !important;
	height: 45% !important;
	animation: span_ani 0.6s linear forwards;
	-moz-animation: span_ani 0.6s linear forwards;
	-webkit-animation: span_ani 0.6s linear forwards;
	-o-animation: span_ani 0.6s linear forwards;
	overflow: hidden !important;
	opacity: 1 !important;
}

.span_addclass_second {
	animation: span_addclass_second 0.6s linear;
	-moz-animation: span_addclass_second 0.6s linear;
	-webkit-animation: span_addclass_second 0.6s linear;
	-o-animation: span_addclass_second 0.6s linear;
}

.div_class_service .absolute2 .absolute2_center .service_one {
	margin-left: 8.35%;
}


/*第四层*/

.div_class_service .absolute3 {
	position: absolute;
	z-index: 5;
	width: 42%;
	height: 39.2%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.div_class_service .absolute3 .absolute3_center {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: space-between;
}

.div_class_service .absolute3 .absolute3_center a {
	width: 2rem;
	height: 100%;
	/*background-color: red;*/
}

.div_class_service .absolute3 .absolute3_center a:nth-child(1) {
	background-image: url(../img/service_left.png);
	background-repeat: no-repeat;
	opacity: 0;
	background-size: cover;
}

.div_class_service .absolute3 .absolute3_center a:nth-child(2) {
	background-image: url(../img/service_right.png);
	background-repeat: no-repeat;
	opacity: 0;
	background-size: cover;
}

.a_left_ani {
	animation: service_left 1s linear 0.9s forwards;
	-moz-animation: service_left 1s linear 0.9s forwards;
	-webkit-animation: service_left 1s linear 0.9s forwards;
	-o-animation: service_left 1s linear 0.9s forwards;
}

.a_right_ani {
	animation: service_right 1s linear 0.9s forwards;
	-moz-animation: service_right 1s linear 0.9s forwards;
	-webkit-animation: service_right 1s linear 0.9s forwards;
	-o-animation: service_right 1s linear 0.9s forwards;
}

.div_class_service .absolute3 .absolute3_bottom {
	width: 100%;
	height: 30%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div_class_service .absolute3 .absolute3_bottom div {
	width: 7.9rem;
	height: 2rem;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	text-align: center;
}

.div_class_service .absolute3 .absolute3_bottom span {
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-moz-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-webkit-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	-o-transition: all 0.6s cubic-bezier(0.52, 1.51, 0.71, 0.31) 100ms;
	cursor: pointer;
}


/*新闻*/

.div_class_new {
	position: relative;
}

.div_class_new .news_img {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.div_class_news {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

.div_class_news .news_container {
	width: 100%;
	height: 70.58%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3rem;
}

.div_class_news .news_container .new_head {
	width: 100%;
	height: 3.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.div_class_news .news_container .new_head hr {
	border: 0;
	height: 1px;
	background-color: #000000;
	width: 2rem;
	margin: 0.2rem;
	transition: width 0.6s;
	-moz-transition: width 0.6s;
	-webkit-transition: width 0.6s;
	-o-transition: width 0.6s;
}

.div_class_news .news_container .new_head span {
	font-size: 0.7rem;
	color: #7D7D7D;
}

.div_class_news .news_container .new_head h2 {
	color: #444444;
}

.div_class_news .news_container .under_h2 {
	display: flex;
	align-items: center;
}


/*---------------------------------*/

.div_class_news .news_container .new_display {
	width: 300%;
	height: 25.5rem;
	display: flex;
	overflow: hidden;
}

.div_class_news .news_container .new_display .cloum {
	height: 100%;
	width: 8.333%;
}

@media only screen and (max-width: 992px) {
	.div_class_news .news_container .new_display {
		width: 1200%;
		height: 25.5rem;
		display: flex;
		overflow: hidden;
	}
	.div_class_news .news_container .new_display .cloum {
		height: 100%;
		width: 8.333%;
	}
}

.cloum_animation_add {
	animation: news_animation 0.6s forwards;
	-moz-animation: news_animation 0.6s forwards;
	-webkit-animation: news_animation 0.6s forwards;
	-o-animation: news_animation 0.6s forwards;
}

.div_class_news .news_container .new_display .cloum_top_buttom {
	height: 50%;
	width: 100%;
}

.div_class_news .news_container .new_display .top_bottom_share {
	padding: 1.5rem 1.25rem;
	width: 88.125%;
	height: 38.23%;
}

.div_class_news .news_container .new_display .top_bottom_share div {
	display: flex;
	justify-content: space-between;
}

.div_class_news .news_container .new_display .top_bottom_share button {
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid #F2F2F2;
	font-size: 0.8rem;
	color: red;
	background-color: #FFFFFF;
	opacity: 0;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	cursor: pointer;
}

.div_class_news .news_container .new_display .top_bottom_share span {
	font-size: 1rem;
	color: #CCCCCC;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .top_bottom_share p:nth-child(2) {
	margin: 1rem 0;
	color: #333333;
	transition: all 0.6s 0.1s;
	-moz-transition: all 0.6s 0.1s;
	-webkit-transition: all 0.6s 0.1s;
	-o-transition: all 0.6s 0.1s;
}

.div_class_news .news_container .new_display .top_bottom_share p:nth-child(3) {
	color: #BDBDBD;
	font-size: 0.7rem;
	transition: all 0.6s 0.2s;
	-moz-transition: all 0.6s 0.2s;
	-webkit-transition: all 0.6s 0.2s;
	-o-transition: all 0.6s 0.2s;
}

.div_class_news .news_container .new_display .cloum1 {
	margin-left: 33.333%;
	transition: margin-left 1s;
	-moz-transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	-o-transition: margin-left 1s;
}
.div_class_news .news_container .new_display .cloum1_bottom {
	background-image: url(../img/news1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum2_top {
	background-image: url(../img/news2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum3_bottom {
	background-image: url(../img/news3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum4 {
	transition: margin-left 1s;
	-moz-transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	-o-transition: margin-left 1s;
}

.div_class_news .news_container .new_display .cloum4_top {
	background-image: url(../img/news4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum5 {
	transition: margin-left 1s;
	-moz-transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	-o-transition: margin-left 1s;
}

.div_class_news .news_container .new_display .cloum5_bottom {
	background-image: url(../img/news5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum6_top {
	background-image: url(../img/news6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .cloum7_bottom {
	background-image: url(../img/news7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .new_display .inside_box {
	width: 100%;
	height: 100%;
	border: 1px solid #FFFFFF;
	transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	transition: all 0.6s 0.1s;
	-moz-transition: all 0.6s 0.1s;
	-webkit-transition: all 0.6s 0.1s;
	-o-transition: all 0.6s 0.1s;
}

.div_class_news .news_container .news_bottom button {
	width: 2.1rem;
	height: 2.1rem;
	font-size: 1.5rem;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #BDBDBD;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_news .news_container .news_bottom button:hover {
	background-color: red;
	color: #FFFFFF;
}

.div_class_case {
	background-image: url(../img/1503645896.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	position: relative;
}

.div_class_case .case_img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
}

.div_class_case .case_container {
	width: 66.667%;
	height: 85.88%;
	margin-top: 10.78%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	z-index: 2;
}

.div_class_case .case_container hr {
	height: 1px;
	border: 0px;
	width: 2rem;
	background-color: #FFFFFF;
	transition: width 0.6s;
	-moz-transition: width 0.6s;
	-webkit-transition: width 0.6s;
	-o-transition: width 0.6s;
}

.div_class_case .case_container .under_header {
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 0.6rem;
	font-size: 0.7rem;
}

.div_class_case .case_container .under_header div {
	display: flex;
	align-items: center;
}

.div_class_case .case_container .div_case_body {
	width: 100%;
	height: 80%;
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
}

.div_class_case .case_container .div_case_body div {
	width: 22.65%;
	height: 43.28%;
	overflow: hidden;
}

.div_class_case .case_container .div_case_body img {
	transition: all 2s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	width: 100%;
	height: 100%;
}

.div_class_case .case_container .div_case_body img:hover {
	transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
	-moz-transform: scale(1.3, 1.3);
	transition: all 0.6s 0.1s;
	-moz-transition: all 0.6s 0.1s;
	-webkit-transition: all 0.6s 0.1s;
	-o-transition: all 0.6s 0.1s;
}

.one {
	opacity: 0;
	animation: case_one 0.5s linear forwards;
	-moz-animation: case_one 0.5s linear forwards;
	-webkit-animation: case_one 0.5s linear forwards;
	-o-animation: case_one 0.5s linear forwards;
}

.two {
	opacity: 0;
	animation: case_one 0.5s 0.2s linear forwards;
	-moz-animation: case_one 0.5s 0.2s linear forwards;
	-webkit-animation: case_one 0.5s 0.2s linear forwards;
	-o-animation: case_one 0.5s 0.2s linear forwards;
}

.three {
	opacity: 0;
	animation: case_one 0.5s 0.4s linear forwards;
	-moz-animation: case_one 0.5s 0.4s linear forwards;
	-webkit-animation: case_one 0.5s 0.4s linear forwards;
	-o-animation: case_one 0.5s 0.4s linear forwards;
}

.four {
	opacity: 0;
	animation: case_one 0.5s 0.6s linear forwards;
	-moz-animation: case_one 0.5s 0.6s linear forwards;
	-webkit-animation: case_one 0.5s 0.6s linear forwards;
	-o-animation: case_one 0.5s 0.6s linear forwards;
}

.five {
	opacity: 0;
	animation: case_one 0.5s 0.8s linear forwards;
	-moz-animation: case_one 0.5s 0.8s linear forwards;
	-webkit-animation: case_one 0.5s 0.8s linear forwards;
	-o-animation: case_one 0.5s 0.8s linear forwards;
}

.six {
	opacity: 0;
	animation: case_one 0.5s 1.0s linear forwards;
	-moz-animation: case_one 0.5s 1.0s linear forwards;
	-webkit-animation: case_one 0.5s 1.0s linear forwards;
	-o-animation: case_one 0.5s 1.0s linear forwards;
}

.seven {
	opacity: 0;
	animation: case_one 0.5s 1.2s linear forwards;
	-moz-animation: case_one 0.5s 1.2s linear forwards;
	-webkit-animation: case_one 0.5s 1.2s linear forwards;
	-o-animation: case_one 0.5s 1.2s linear forwards;
}

.eight {
	opacity: 0;
	animation: case_one 0.5s 1.4s linear forwards;
	-moz-animation: case_one 0.5s 1.4s linear forwards;
	-webkit-animation: case_one 0.5s 1.4s linear forwards;
	-o-animation: case_one 0.5s 1.4s linear forwards;
}


/*联系*/

.div_class_contact {
	width: 100%;
	height: 100%;
}

.div_class_contact .contact_container {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #BDBDBD;
	justify-content: flex-end;
}

.div_class_contact .contact_right {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: margin-right 0.8s cubic-bezier(.14, -0.07, .87, .14);
	-moz-transition: margin-right 0.8s cubic-bezier(.14, -0.07, .87, .14);
	-webkit-transition: margin-right 0.8s cubic-bezier(.14, -0.07, .87, .14);
	-o-transition: margin-right 0.8s cubic-bezier(.14, -0.07, .87, .14);
	background-image: url(../img/contact_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: -43.1rem;
}

.div_class_contact .contact_container .contact_right_info {
	width: 55.6%;
	height: 16.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	margin-right: 4rem;
}

.div_class_contact .contact_container .contact_right_info .contact_top {
	width: 100%;
	height: 5.35rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	color: #333333;
}

.div_class_contact .contact_container .contact_right_info .contact_top hr {
	border: 0;
	height: 1px;
	width: 20%;
	background-color: red;
}

.div_class_contact .contact_container .contact_right_info ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: end;
	color: #7D7D7D;
	width: 100%;
}

.div_class_contact .contact_container .contact_right_info li:nth-child(2) {
	font-size: 0.5rem;
	color: #AAAAAA;
}

.div_class_contact .contact_container .contact_right_info ul li {
	line-height: 1.4rem;
}

.div_class_contact .contact_container .contact_right_info ul hr {
	border: 0;
	height: 1px;
	width: 100%;
	background-color: #000000;
	margin: 1rem 0;
}

.contact_right_h2_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0s ease-out forwards;
	-o-animation: slide_menu 0.6s 0s ease-out forwards;
}

.contact_right_hr_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.08s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.08s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.08s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.08s ease-out forwards;
}

.contact_right_li1_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.16s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.16s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.16s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.16s ease-out forwards;
}

.contact_right_li2_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.24s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.24s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.24s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.24s ease-out forwards;
}

.contact_right_li3_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.32s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.32s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.32s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.32s ease-out forwards;
}

.contact_right_li4_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.4s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.4s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.4s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.4s ease-out forwards;
}

.contact_right_li5_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.48s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.48s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.48s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.48s ease-out forwards;
}

.contact_right_li6_animation {
	opacity: 0;
	animation: slide_menu 0.6s 0.54s ease-out forwards;
	-moz-animation: slide_menu 0.6s 0.54s ease-out forwards;
	-webkit-animation: slide_menu 0.6s 0.54s ease-out forwards;
	-o-animation: slide_menu 0.6s 0.54s ease-out forwards;
}

.div_class_footer .foot_footer {
	background-color: #000000;
	width: 100%;
	height: 2.8rem;
	padding: 1.25rem 2rem;
	display: flex;
	justify-content: space-between;
	color: #CCCCCC;
	font-size: 0.7rem;
}

.div_class_footer .foot_footer .foot_left_top ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.div_class_footer .foot_footer .foot_left_top span {
	color: red;
}

.div_class_footer .foot_footer .foot_left_top a {
	text-decoration: none;
	color: #CCCCCC;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_footer .foot_footer .foot_left_top a:hover {
	color: red;
}

.div_class_footer .foot_footer .foot_left_bottom a {
	text-decoration: none;
	color: red;
	transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.div_class_footer .foot_footer .foot_right .icon_foot {
	display: flex;
	justify-content: flex-end;
}

.div_class_footer .foot_footer .foot_right .icon_foot img:hover {
	cursor: pointer;
	background-color: red;
}